# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# devC++ runtime binary
*.exe

# VS&VC
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.vcxproj
*.filters


# Build&Debug results
**/Build/
**/Debug/
